.bla{ 
    width: 15rem;
}

td, th {
   margin: 2rem 2rem !important; 
   text-align: center !important;
   align-self: end;
}

tr{
    display: flex;
    width: 100%;
}

:is(th, td):nth-child(1){
    flex-basis: 10%;
}

:is(th, td):nth-child(2){
    flex-basis: 50%;
}

:is(th, td):nth-child(3){
    flex-basis: 10%;
}

:is(th, td):nth-child(4){
    flex-basis: 10%;
}

.paginationjs-pages > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* table>:not(caption)>*>* {
     padding: 0 !important } */

.paginationjs-pages > ul > li {

     }