@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  --primary-clr: #3bba91;
  --primary-clr-hover: #2e896c;
}



.bla{ 
    width: 15rem;
}

td, th {
   margin: 1rem 2rem !important; 
   text-align: center !important;
   display: flex;
   align-self: flex-start;
}

tr{
    display: flex;
    width: 100%;
}

:is(th, td):nth-child(1){
    flex-basis: 10%;
}

:is(th, td):nth-child(2){
    flex-basis: 50%;
}

:is(th, td):nth-child(3){
    flex-basis: 10%;
}

:is(th, td):nth-child(4){
    flex-basis: 20%;
}

.paginationjs-pages > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* table>:not(caption)>*>* {
     padding: 0 !important } */

/* .paginationjs-pages > ul > li {

     } */

mark {
    padding: 0 !important;
}

@media screen and (max-width: 1200px) {
    td, th {
        margin: 0.5rem !important; }
    
}

/* div#container-load {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
    
}
#content-load{
    height: 2rem;
    width: 2rem;
    border: 0.5rem solid black;
    border-top-color: lightblue;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
} */