html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  height: 82vh;
  width: min(100% - 5vw);
  margin: 0 auto;
}

button.fc-prev-button.fc-button.fc-button-primary,
button.fc-next-button.fc-button.fc-button-primary,
button.fc-dayGridMonth-button.fc-button.fc-button-primary,
button.fc-timeGridWeek-button.fc-button.fc-button-primary,
button.fc-timeGridDay-button.fc-button.fc-button-primary {
  background-color: #3bba91;
  border: 0;
}

button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active,
button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active,
button.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active {
  background-color: #2e896c;
}

button.fc-today-button.fc-button.fc-button-primary {
  background-color: white;
  border: 1px solid #3bba91;
  color: #3bba91;
}

button.fc-today-button.fc-button.fc-button-primary:hover {
  color: #2e896c;
  border: 1px solid #2e896c;
}

button.fc-today-button.fc-button.fc-button-primary:active {
  color: #2e896c;
  background-color: rgb(241, 241, 241);
  border: 1px solid #2e896c;
}

a.fc-daygrid-event.fc-daygrid-dot-event.fc-event.fc-event-start.fc-event-end.fc-event-past:hover {
  font-size: 12px;
}

a.fc-daygrid-event.fc-daygrid-block-event.fc-h-event.fc-event.fc-event-start.fc-event-end.fc-event-past:hover {
  font-size: 12px;
}

.fc-daygrid-day-number:hover {
  font-size: 14px;
}

a.fc-daygrid-event {
  color: black;
}

a.fc-daygrid-event:hover {
  color: rgb(49, 49, 49);
}

.fc-timegrid-event {
  background-color: #3bba91 !important;
  border: 1px solid #3bba91 !important;
} 

a.fc-timegrid-event.fc-v-event.fc-event.fc-event-start.fc-event-end.fc-event-past:hover {
  font-size: 12px;
}
